*{
    padding: 0;
    margin: 0;
}
.box{
    display: flex;
    border: 1px solid black;
    height: 350px;
    width: 370px;
}
.d_section{
    display: flex;
}
.Title1{
    height: 10px;
    width: 30px;
    background-color: red;
}